<nb-layout>
      <nb-layout-header fixed>
            <ngx-header></ngx-header>
      </nb-layout-header>

      <nb-sidebar class="menu-sidebar" tag="menu-sidebar">
            <nb-menu [items]="menu"></nb-menu>
            <ng-content select="nb-menu"></ng-content>
      </nb-sidebar>

  <nb-layout-column style="background-color: #fcfcfd;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb" style="background-color: transparent;">
      <li *ngFor="let crumb of breadcrumbItems; let last = last"
          class="breadcrumb-item"
          [class.active]="last"
          [attr.aria-current]="last ? 'page' : null">
        <ng-container *ngIf="!last">
          <a [routerLink]="crumb.link">
            <i class="fa" ></i> {{ crumb }}
          </a>
        </ng-container>
        <ng-container *ngIf="last">
          {{ crumb }}
        </ng-container>
      </li>
    </ol>
  </nav>

  <router-outlet></router-outlet>
</nb-layout-column>

      <nb-layout-footer fixed>
            <ngx-footer></ngx-footer>
      </nb-layout-footer>
</nb-layout>