<div class="page-container">
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">

      <div class="form-group">
        <label for="city" class="form-label">
          Category
        </label>

        <select name="" id="" class="form-control" formControlName="Category">
          <option value="">Select</option>
          <option value="{{i}}" *ngFor="let i of CategoryList">{{i}}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Permit Name
        </label>
        <input type="text" formControlName="PermitName" class="form-control custom-input"
          [matAutocomplete]="permitlist" placeholder="Enter Permit name...">
        <mat-autocomplete #permitlist="matAutocomplete" [displayWith]="PermitTypeAheadDisplay.bind(this)">
          <mat-option *ngIf="ispermitLoading">
            <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
            </mat-spinner>
          </mat-option>
          <mat-option class="mat-opt1" disabled>
            <div>
              <table>
                <tr class="tr">
                  <td style="width: 200px;">Permit Name</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngFor="let l of PermitNameList | slice:0:30" [value]="l.PermitName" class="mat-opt">
            <div>
              <table>
                <tr class="tr">
                  <td>{{l.PermitName}}</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngIf="PermitNameList.length == 0" disabled>
            No Options
          </mat-option>
        </mat-autocomplete>

      </div>

      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Regulatory Agency
        </label>
        <input type="text" class="form-control custom-input" formControlName="RegulatoryAgency"
          [matAutocomplete]="agencyLst" placeholder="Enter Regulatory name...">
        <mat-autocomplete #agencyLst="matAutocomplete" [displayWith]="AgencyTypeAheadDisplay.bind(this)">
          <mat-option *ngIf="isAgencyLoading">
            <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
            </mat-spinner>
          </mat-option>
          <mat-option class="mat-opt1" disabled>
            <div>
              <table>
                <tr class="tr">
                  <td style="width: 200px;">Agency Name</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngFor="let l of RegagencyList | slice:0:30" [value]="l.Name" class="mat-opt">
            <div>
              <table>
                <tr class="tr">
                  <td class="td td1">{{l.Name}}</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngIf="RegagencyList.length == 0" disabled>
            No Options
          </mat-option>
        </mat-autocomplete>
      </div>


      <div class="btn-group">
        <!-- <div class="form-group"> -->

        <button class="btn mb-3" (click)="Search()">
          <i class="fas fa-search"></i>
          Search

        </button>
        <button type="button" class="btn mb-3" (click)="Clear()">
          <i class="fa fa-eraser"></i>
          Clear
        </button>
        <!-- </div> -->
      </div>


    </div>
  </div>


<div class="col-md-12 d-flex justify-content-between align-items-center">
  
  <div class="d-flex align-items-center">
   
    <mat-form-field appearance="outline" class="mr-2" style="height: 75px;">
    <mat-label style="color: black;">Level</mat-label>
    <input matInput placeholder="Select Level" [(ngModel)]="Level" (ngModelChange)="OnLevelChanges($event)"
      [matAutocomplete]="levellist">
    <mat-autocomplete #levellist="matAutocomplete" [displayWith]="LevelTypeAheadDisplay.bind(this)">
     <mat-option *ngFor="let l of LevelList | slice:0:30" [value]="l" class="mat-opt">
        <div>
          <table>
            <tr class="tr">
              <td class="td td1" style="width: 200px;">{{l}}</td>
  
            </tr>
          </table>
        </div>
      </mat-option>
      
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-2" style="height: 75px;" >
    <mat-label style="color: black;">State</mat-label>
    <input matInput placeholder="Placeholder"  [(ngModel)]="State" (ngModelChange)="GetAllPermits()" [matAutocomplete]="stlist" [disabled]="Level == 'All' || Level == 'Federal' ? true : false" >
     <mat-autocomplete #stlist="matAutocomplete" [displayWith]="StateTypeAheadDisplay.bind(this)">
      <mat-option *ngFor="let l of StateList | slice:0:30" [value]="l" class="mat-opt">
        <div>
          <table>
            <tr class="tr">
              <td class="td td1" style="width: 200px;">{{l}}</td>
  
            </tr>
          </table>
        </div>
      </mat-option>
      
    </mat-autocomplete>
 </mat-form-field>

 <mat-form-field appearance="outline" class="mr-2" style="height: 75px;"  >
    <mat-label style="color: black;">City</mat-label>
    <input matInput placeholder="Enter City" [(ngModel)]="City" (ngModelChange)="GetAllPermits()"  [matAutocomplete]="ctlist" [disabled]="Level != 'City'  ? true : false">
     <mat-autocomplete #ctlist="matAutocomplete"
                      [displayWith]="CityTypeAheadDisplay.bind(this)">
                      <mat-option *ngFor="let l of CityList | slice:0:30" [value]="l"  class ="mat-opt" >
                        <div>
                          <table>
                            <tr class="tr">
                              <td class="td td1" style="width: 200px;">{{l}}</td>
                             
                            </tr>
                          </table>
                        </div>
                      </mat-option>
                      
      </mat-autocomplete>
 </mat-form-field>

 

  </div>

  
  <div class="d-flex align-items-center mr-2">
  
    <div>
     <span class="badge px-2 py-3 mr-2 text-white" style="background-color: #1c4876;">
        Selected Count : {{ SelectedCount}}
     </span>
   
      <button type="button" class="btn mr-2"  
        (click)="ViewDetails()">
        <i class="far fa-eye"></i>
      </button>
    </div>

    <button type="button" class="btn" (click)="DownloadExcel()">
      <i class="fa-solid fa-download"></i>
    </button>
  </div>
</div>

<div class="data-panel">
    <div class="table-container">
      <table class="table header-table" style="border: 1px solid #e9ecef;margin-bottom: 0rem; background-color: #f7f9fc;color: #1c4876;">
        <thead>
          <tr>
            <th class="checkbox-cell" style="width: 5px;">
              <input type="checkbox" class="big-checkbox" [(ngModel)]="SelecAll" (click)="SelectAll($event)">
            </th>
            <th (click)="datatransferService.sortData('PermitName' , PermitList)">
              Permit
              <i class="fas" [ngClass]="datatransferService.getSortIcon('PermitName')"></i>
            </th>
            <th (click)="datatransferService.sortData('RegulatoryAgencyName' ,PermitList)">
              Regulatory Agency
              <i class="fas" [ngClass]="datatransferService.getSortIcon('RegulatoryAgencyName')"></i>
            </th>
            <th (click)="datatransferService.sortData('Category' , PermitList)">
              Category
              <i class="fas" [ngClass]="datatransferService.getSortIcon('Category')"></i>
            </th>
            <th (click)="datatransferService.sortData('State' , PermitList)">
              State
              <i class="fas" [ngClass]="datatransferService.getSortIcon('State')"></i>
            </th>
            <th (click)="datatransferService.sortData('City' , PermitList)">
              City
              <i class="fas" [ngClass]="datatransferService.getSortIcon('City')"></i>
            </th>
            <th (click)="datatransferService.sortData('Level' , PermitList)">
              Level
              <i class="fas" [ngClass]="datatransferService.getSortIcon('Level')"></i>
            </th>
          </tr>
        </thead>
        </table>
        <div class="table-container">
          <table class="table body-table">
        <tbody>
          <tr *ngFor="let item of PermitList; let i = index">
            <td class="checkbox-cell" style="width: 5px;">
              <input type="checkbox" class="big-checkbox" (change)="OnSingleChange($event, item)"
                [(ngModel)]="item.Ischecked">
            </td>
            <td>
              <span matTooltip="{{ item.PermitName }}">
                {{item.PermitName?.length > 50 ? (item.PermitName?.substring(0, 50) + '...') : item.PermitName }}
              </span>
            </td>
             <td>
              <span matTooltip="{{ item.RegulatoryAgencyName }}">
                {{item.RegulatoryAgencyName?.length > 50 ? (item.RegulatoryAgencyName?.substring(0, 50) + '...') : item.RegulatoryAgencyName }}
              </span>
            </td>
            <td>{{item.Category}}</td>
            <td>{{item.State == null || item.State =="" ? "--" : item.State }}</td>
            <td>{{item.City== null || item.City == "" ? "--" : item.City }}</td>
            <td>{{item.Level}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <div class="col-lg-1 col-md-2 col-sm-4 p-1 mr-2">
        <button class="btn" style="width: 150px;"
         (click)="CreateMatrix()">
          <i class="fa-solid fa-arrow-right"></i>
           {{this.NavigatedData?.NavigatedFrom == 'Matrix' ?  'Edit' : 'Submit'}}
        </button>
      </div>
    </div>
  </div>
</div>