@import 'bootstrap/scss/bootstrap';
.search-sec {
  padding: 12rem;
  background: transparent; // Add background for visibility
  border-radius: 5px;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
table td {
  padding: 0.75rem;
  vertical-align: center;
  border-bottom: 1px solid #8b9eb3 !important;
  border-left: 1px solid #a77d7d;
  border-right: 1px solid #a77d7d;

}

  .orange-bordered-table,
.orange-bordered-table th
 {
  border: 1px solid #8d0f0f !important;
}

.orange-bordered-table1 {
  
  border-bottom: 1px solid #1c4876 !important;
  
}
.big-checkbox{
  transform: scale(1.5);
   accent-color: #1c4876

}

  .checkbox-cell {
    width: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .mat-paginator {
  background-color: #a7a7a7;
  .mat-paginator-page-size {
      align-items: center;

      .mat-select-trigger {
          transform: translateY(-8px);
      }
  }

  
}
.labelClass{
display: block;
    border-bottom: 1px solid #8d0f0f;
    padding-bottom: 4px;
    margin-bottom: 8px;
    font-size: 18px;
    
}
.FlterButton{
  margin-top :31px;
  margin-left: 20px;
  font-size: 16px;
  border: 1px solid #8d0f0f !important;
  color: #1c4876;
}

table th {
  font-size: 14px;
  vertical-align: center;
   color: #1c4876;
}