<div class="page-container">
  <!-- Filter Panel -->
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">
      <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-control" formControlName="Category">
          <option value="">Select</option>
          <option *ngFor="let i of CategoryList" [value]="i">{{ i }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="permitName" class="form-label">Permit Name</label>
        <input type="text" id="permitName" class="form-control" formControlName="PermitName" [matAutocomplete]="permitlist" placeholder="Enter permit name...">
        <mat-autocomplete #permitlist="matAutocomplete" [displayWith]="PermitTypeAheadDisplay.bind(this)">
          <mat-option *ngIf="ispermitLoading"><mat-spinner diameter="20"></mat-spinner></mat-option>
          <mat-option *ngIf="PermitNameList.length === 0" disabled>No Options</mat-option>
          <mat-option class ="mat-opt" *ngFor="let l of PermitNameList" [value]="l.PermitName">{{ l.PermitName }}</mat-option>
        </mat-autocomplete>
      </div>
      <div class="btn-group">
        <button class="btn mb-3" (click)="Search()">
          <i class="fas fa-search"></i> Search
        </button>
        <button class="btn mb-3" (click)="Clear()">
          <i class="fas fa-eraser"></i> Clear
        </button>
      </div>
    </div>
  </div>

  <!-- Data Panel -->
  <div class="data-panel">
    <div class="panel-header">
      <div class="panel-header-left">
        <button class="btn-group btn" *ngIf="user?.Role == 'Admin' || user?.Role == 'Editior'" (click)="AddPermit()">
          <i class="fas fa-plus"></i> Add Permit
        </button>
       
      </div>
      <mat-paginator  *ngIf="PermitList?.length" [length]="dataCount" [pageSize]="pageSize" [pageSizeOptions]="pageOption" (page)="paginatorevt($event)"></mat-paginator>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th (click)="datatransferService.sortData('PermitName' , PermitList)">Permit <i class="fas" [ngClass]="datatransferService.getSortIcon('PermitName')"></i></th>
            <th (click)="datatransferService.sortData('RegulatoryAgencyName' , PermitList)">Regulatory Agency <i class="fas" [ngClass]="datatransferService.getSortIcon('RegulatoryAgencyName')"></i></th>
            <th (click)="datatransferService.sortData('Category' , PermitList)">Category <i class="fas" [ngClass]="datatransferService.getSortIcon('Category')"></i></th>
            <th (click)="datatransferService.sortData('Level' , PermitList)">Level <i class="fas" [ngClass]="datatransferService.getSortIcon('Level')"></i></th>
            <th (click)="datatransferService.sortData('State' , PermitList)">State <i class="fas" [ngClass]="datatransferService.getSortIcon('State')"></i></th>
            <th (click)="datatransferService.sortData('City' , PermitList)">City <i class="fas" [ngClass]="datatransferService.getSortIcon('City')"></i></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of PermitList">
             <td>
              <span matTooltip="{{ item.PermitName }}">
                {{item.PermitName?.length > 50 ? (item.PermitName?.substring(0, 50) + '...') : item.PermitName }}
              </span>
            </td>
             <td>
              <span matTooltip="{{ item.RegulatoryAgencyName }}">
                {{item.RegulatoryAgencyName?.length > 50 ? (item.RegulatoryAgencyName?.substring(0, 50) + '...') : item.RegulatoryAgencyName }}
              </span>
            </td>
            <td>{{ item.Category }}</td>
            <td>{{ item.Level || '--' }}</td>
            <td>{{ item.State || '--' }}</td>
            <td>{{ item.City || '--' }}</td>
            <td class="action-cell">
              <button class="btn" (click)="EditPermit(item.Id)">
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="!PermitList?.length">
            <td colspan="7" class="text-center p-5">No permits found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
