<section class="h-100 gradient-form" style="background-color:#edf1f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-5">
        <div class="card rounded-3 text-black PageLayout">
          <div class="row g-0">
           
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo"> -->
                  <!-- <h4 class="mt-1 pb-1">We are The ENS Team</h4> -->
                </div>
                <div class="text-center pt-1 pb-1">
                  <img src="/assets/images/admin.jpg" alt="Microsoft" class="logo-img">
                </div>
                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-lg text-white" style="background-color: #1c4876;" (click)="Login()">
                    <img src="/assets/images/Microsoft_Logo_512px.png" alt="Microsoft" width="30" height="30"
                      style="margin-right: 8px;">
                    Login with Microsoft
                  </button>
                </div>
                
              </div>
            </div>
            <!-- <div class="col-lg-6 gradient-custom-2">

              <div class="h-40">
                <div style="margin-top: 20px;">
                  <h3 class="text-white mb-4">We are more than just a business...</h3>
                </div>
                <div class="text-white">
                  <h5 class="text-white">
                    A legitimate business starts with a permit, thrives with purpose, and lasts with integrity.
                    The fastest way to slow your business down is to skip the legal steps upfront. Permits and licenses
                    aren't red
                    tape — they’re the blueprint for staying open tomorrow.
                  </h5>
                </div>
              </div>
              <div class="h-60 p-3">
                <img src="assets/images/istockphoto-1477334129-612x612.jpg" alt="Business"
                  class="img-fluid w-100 object-fit-cover" />
              </div>
            </div> -->


         
        </div>
      </div>
    </div>
  </div>
</section>