<div class="add-edit-popuop">
    <div class="shadowed-panel" [formGroup]="AddMatrixForm">
        <div class="panel-header d-flex justify-content-between align-items-center">
            <h5> Create Matrix </h5>
            <div><i class="fa fa-times" aria-hidden="true" (click)="clear()"></i></div>
        </div>
        <div class="panel-body">
         <div class="form-group">
                        <label for="username" class="form-label labelClass lableSyle">Matrix Name <span  class="text-danger">*</span></label>
                         <input type="text" class="form-control custom-input" formControlName="MatrixName">
                         <span *ngIf="Submitted && AddMatrixForm.get('MatrixName')?.invalid" class="text-danger">Matrix Name is Required</span>
                </div>
         <div class="form-group">
                        <label for="username" class="form-label labelClass lableSyle">Client</label>
                         <input type="text" class="form-control custom-input" formControlName="RegulatoryAgency"
                          oninput="this.value = this.value.toUpperCase()"  [matAutocomplete]="agencyLst">
                          <mat-autocomplete #agencyLst="matAutocomplete" [displayWith]="AgencyTypeAheadDisplay.bind(this)">
                        <mat-option *ngIf="isAgencyLoading">
                            <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
                            </mat-spinner>
                        </mat-option>
                        <mat-option class="mat-opt1" disabled>
                            <div>
                                <table>
                                    <tr class="tr">
                                        <td style="width: 200px;"> Client Name</td>
                    
                                    </tr>
                                </table>
                            </div>
                        </mat-option>
                        <mat-option *ngFor="let l of RegagencyList | slice:0:30" [value]="l.Name" class="mat-opt">
                            <div>
                                <table>
                                    <tr class="tr">
                                        <td class="td td1">{{l.Name}}</td>
                    
                                    </tr>
                                </table>
                            </div>
                        </mat-option>
                        <mat-option *ngIf="RegagencyList.length == 0" disabled>
                            No Options
                        </mat-option>
                    </mat-autocomplete>
                    </div>
             <div class="form-group">
                    <label for="username" class="form-label labelClass lableSyle">Type Of Project</label>
                    <select name="" id="" class="form-control custom-input" formControlName="TypeOfProject">
                        <option value="">Select</option>
                        <option value="{{i}}" *ngFor="let i of TypeofPermitList">{{i}}</option>
                    </select>
                </div>
            </div>
  

    <div class="panel-footer">
        <button class="btn btn-primary submit-btn" (click)="Submit()"><i class="fas fa-save mr-2"></i>Submit</button>
    </div>
</div>
</div>