<div class="position-relative" style="height: 400px; overflow: hidden;">

  <!-- 3 Image Columns -->
  <div class="row h-100 m-0 position-absolute w-100" style="z-index: 1;">
    <div class="col-md-4 p-0" style="background-image: url('assets/images/images (1).jpg'); background-size: cover; background-position: center;"></div>
    <div class="col-md-4 p-0" style="background-image: url('assets/images/istockphoto-1477334129-612x612.jpg'); background-size: cover; background-position: center;"></div>
    <div class="col-md-4 p-0" style="background-image: url('assets/images/images1.jpg'); background-size: cover; background-position: center;"></div>
  </div>

  <!-- Text Overlay (Above Search Bar) -->
  

  <!-- Search Form Overlay -->
  <div class="position-relative top-50 start-50 translate-middle w-100 px-3" style="z-index: 2;" [formGroup]="SearchForm">
    <div class="row justify-content-center search-sec">
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <input type="text" class="form-control border border-secondary-2 search-slt" placeholder="Enter City" 
        oninput="this.value = this.value.toUpperCase()" 
         formControlName="city"  [matAutocomplete]="ctlist">
         <mat-autocomplete #ctlist="matAutocomplete"
                      [displayWith]="CityTypeAheadDisplay.bind(this)">
                      <mat-option *ngIf="isCityLoading">
                        <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
                        </mat-spinner>
                      </mat-option>
                      <mat-option class ="mat-opt1" disabled>
                        <div>
                          <table>
                            <tr class="tr">
                              <td  style="width: 200px;">City</td>
                              <td  style="width: 200px;">State</td>
                            </tr>
                          </table>
                        </div>
                      </mat-option>
                      <mat-option *ngFor="let l of CityList | slice:0:30" [value]="l.name" class ="mat-opt" >
                        <div>
                          <table>
                            <tr class="tr">
                              <td class="td td1" style="width: 200px;">{{l.name}}</td>
                              <td class="td td1" style="width: 200px;">{{l.state}}</td>
                            </tr>
                          </table>
                        </div>
                      </mat-option>
                      <mat-option *ngIf="CityList.length == 0" disabled>
                        No Options
                      </mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <select class="form-control border border-secondary-2 search-slt"  formControlName="state">
          <option value="" disabled selected>Select State</option>
          <option value="{{i.state}}" *ngFor="let i of StateList" >{{i.state}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <select class="form-control border border-secondary-2 search-slt"  formControlName="country">
          <option value="" disabled selected>Select Country</option>
          <option value="{{i.country}}" *ngFor="let i of CountryList" >{{i.country}}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <button type="button" class="btn btn-danger wrn-btn w-100" (click)="Search()">Search</button>
      </div>
    </div>
  </div>

</div>





<div class="row d-flex mt-5">
      <div class="col-12 col-xl-4 mb-4">
        <div class="card border-10 rounded-0">
          <div class="card-title mb-1 p-3 d-flex">
            <h5>Our People</h5>
            <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis"></i> </a>
          </div>
          <div class="card-body">
            <p>Meet a few of the problem-solvers and difference-makers who are making an impact wherever they go
              <a target="_blank" href="https://www.burnsmcd.com/who-we-are/meet-our-people"><i
                  class="fa fa-arrow-circle-right"></i></a>
            </p>
    
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="card border-10 rounded-0">
          <div class="card-title mb-1 p-3 d-flex">
            <h5>Our Leaders</h5>
            <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis"></i> </a>
          </div>
          <div class="card-body">
            <p>Meet the leadership team behind one of the world’s most successful 100% employee-owned companies
              <a target="_blank" href="https://www.burnsmcd.com/who-we-are/meet-our-people?tab=leadership"><i
                  class="fa fa-arrow-circle-right"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="card border-10 rounded-0">
          <div class="card-title mb-1 p-3 d-flex">
            <h5>Join Us</h5>
            <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis"></i> </a>
          </div>
          <div class="card-body">
            <p>Be a part of something big. Find your next job and build your story at Burns & McDonnell
              <a target="_blank" href="https://www.burnsmcd.com/careers"><i class="fa fa-arrow-circle-right"></i></a>
              <br>
            </p>
          </div>
        </div>
      </div>
  </div>
<!--
data list table






 <div class="row">
<div class="col-md-12">
  <div class="card-body">
          <div class="table-responsive-md">
              <table class="table table-hover">
                <thead style="background: #273360;color: white">
                  <tr>
                   <th style="width: 80px;">Permit</th>
                    <th style="width: 150px;">Regulatory Agency</th>
                   
                    <th style="width: 60px;">Time Frame</th>
                    <th style="width: 100px;">Thresholds</th>
                   
                    <th style="width: 60px;">Review Time</th>
                    <th style="width: 80px;">Fees</th>
                    
                   
                  </tr>
                </thead>
                </table>
                <div style="max-height: 400px; overflow-y: auto;">
              <table class="table table-hover">
                <tbody class="table-outline-border">
                 
                 <tr>
                   
                    <td style="width: 80px;">National Historic Preservation Act</td>
                    <td style="width: 150px;">Jefferson City, MO 65102</td>
                  
                    <td style="width: 60px;">30-60 Days</td>
                    <td style="width: 100px;">Activities carried out by or on the behalf of a federal agency</td>
                    <td style="width: 60px;">90-180 Days</td>
                    <td style="width: 80px;">$4210</td>
                   
                 </tr>
                 <tr>
                   
                  <td style="width: 80px;">National Historic Preservation Act</td>
                    <td style="width: 150px;">Jefferson City, MO 65102</td>
                   
                    <td style="width: 60px;">30-60 Days</td>
                    <td style="width: 100px;">Activities carried out by or on the behalf of a federal agency</td>
                    <td style="width: 60px;">90-180 Days</td>
                    <td style="width: 80px;">$4210</td>
                    
                 </tr>
                  
                </tbody>
              </table>
                </div>
               
            </div>
  
          </div>
</div>
</div> -->
