@import 'bootstrap/scss/bootstrap';
.search-sec {
  padding: 5rem;
  background: transparent; // Add background for visibility
  border-radius: 5px;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

.wrn-btn {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}

@media (min-width: 992px) {
  .search-sec {
    background: rgba(26, 70, 104, 0.6);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: transparent;
  }
}

  .card-title{
   background: #0e3b64
}
h5
{
   color: white;
}
.card-body{
   background-color: transparent;
}
 .mat-opt {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-bottom:  1px solid #e1dbdba6 !important;
  align-items: center;
}
 .mat-opt1 {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
 
  border-bottom: 1px solid #e1dbdba6 !important;
  align-items: center;
}

.autocomplete-header {
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
}

.autocomplete-cell {
  width: 50%;
  text-align: left;
}
.custom-input {
  box-shadow: none !important;
  border-color: #a1aebb !important;
  height: 120%;
}
.FlterButton {
  font-size: 16px !important;
  font-family: Open Sans, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.custom-outline-btn {
  border: 1px solid #1c4876;
  color: #1c4876;
  height: 120%;
  background-color: white;
  width: 40%;
}

.custom-outline-btn:hover {
  background-color: #1c4876;
  color: white;
  height: 120%;
  width: 40%;
  box-shadow: none !important;
}
.custom-input:disabled {
            
  background-color: #fff;  /* Custom background color */
        /* Optional: show "not allowed" cursor */
}

.PageLayout
{
height:500px;
border: 1px solid #d7d0d08f; 
border-radius: 12px;
background: white;
box-shadow: 1px 1px 2px rgb(91 101 130 / 18%);
}

.lableSyle {
  font-family: Open Sans, sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 1.5rem;
}
  .card-body {
  max-height: 400px;
  // overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 transparent;
}

.card-body::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.card-body::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

.badge i {
  pointer-events: auto;
}
.fas.fa-times {
  pointer-events: auto;
  cursor: pointer;
}
.map-container {
  z-index: 1;
  position: relative;
  overflow: hidden;
  border: 1px solid #1c4876; // Add a border around the map
  border-radius: 2px;
}
.card {
  position: relative;
  z-index: 1000;
  pointer-events: auto;
}

.panel-header {
  background:#1c4876;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 20px;

  h5 {
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
  }
}
 
 

