<div class="position-relative" style="height: 200px; overflow: hidden;">
   
  <!-- 3 Image Columns -->
  <div class="row h-100 m-0 position-absolute w-100" style="z-index: 1;">
    <div class="col-md-4 p-0" style="background-image: url('assets/images/images (1).jpg'); background-size: cover; background-position: center;"></div>
    <div class="col-md-4 p-0" style="background-image: url('assets/images/istockphoto-1477334129-612x612.jpg'); background-size: cover; background-position: center;"></div>
    <div class="col-md-4 p-0" style="background-image: url('assets/images/images1.jpg'); background-size: cover; background-position: center;"></div>
  </div>

  <!-- Search Form Overlay -->
  <div class="position-absolute top-50 start-50 translate-middle w-100 px-3" style="z-index: 2;">
    <div class="row justify-content-center search-sec">
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <select class="form-control search-slt" id="exampleFormControlSelect1">
          <option>Select Vehicle</option>
          <option>Example one</option>
          <option>Example two</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-1">
        <button type="button" class="btn btn-danger wrn-btn w-100">Search</button>
      </div>
    </div>
  </div>

</div>
