@import 'bootstrap/scss/bootstrap';

.search-sec {
  padding: 12rem;
  background: transparent; // Add background for visibility
  border-radius: 5px;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 12;
}
.labelClass {
  display: block;
  border-bottom: 1px solid rgb(165 163 163 / 20%);
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.lableSyle {
  font-family: Open Sans, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.FlterButton {
  margin-top: 45px;
  font-size: 16px;
  width: 120px;
  font-family: Open Sans, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
}



.custom-outline-btn {
  border: 1px solid #0e3b64;
  color: #0e3b64;
  background-color: transparent;
}

.custom-outline-btn:hover {
  background-color: #0e3b64;
  color: white;
}

.custom-input {
  box-shadow: none !important;
  border-color: #a1aebb !important;
}
.PageLayout
{
height:500px;
border: 1px solid #d7d0d08f; 
border-radius: 12px;
background: white;
box-shadow: 1px 1px 2px rgb(91 101 130 / 18%);
}



.table-container {
  max-height: 300px;
  overflow-y: auto;
 
}

/* Ensure exact match between header and body columns */
.fixed-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* Sticky header styling */
.fixed-table thead th {
 
  top: 0;
  background-color: #bbbbbb4d;
  z-index: 2;
  border-left: 1px solid #e1dbdba6;
  border-right: 1px solid #e1dbdba6;
  font-family: Open Sans, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem;
  box-sizing: border-box; 
  color: #1c4876;/* ✅ Ensures width includes padding + border */
}

/* Data cell styling */
.fixed-table td {
  border: 1px solid #e1dbdba6;
  font-size: 0.85rem;
  padding: 0.5rem;
  font-family: Open Sans, sans-serif;
  box-sizing: border-box; /* ✅ Prevents overflow */
  
}

