

<div class="page-container">
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">
    <div class="form-group">
      <label for="city" class="form-label">Matrix Name</label>
      <input type="text" id="city" class="form-control" formControlName="MatrixName">
    </div>
    <div class="form-group">
      <label for="city" class="form-label">Type Of Project</label>
      <input type="text" id="city" class="form-control" formControlName="TypeOfProject">
    </div>
    <div class="form-group">
      <label for="city" class="form-label">Client Name</label>
      <input type="text" id="city" class="form-control" formControlName="Client">
    </div>
    </div>
  </div>
    <div class="data-panel">
      <div class="panel-header">
      <div  class="panel-header-left">
        <p class="lableSyle" >Selected Permits : </p>
      </div>
      <div  class="btn-group">
      <button class="btn mr-2" (click)="EditMtrix()"><i class="fas fa-edit"></i>Edit</button>
       <button class="btn"  (click)="DownloadExcel()">
        <i class="fa-solid fa-download"></i>
       </button>
     </div>
     </div>
    <div class="table-container">
  <table class="table table-hover fixed-table">
    <thead>
      <tr>
        <th style="width: 80px;">Permit Name</th>
        <th style="width: 50px;">Category</th>
        <th style="width: 30px;">Level</th>
        <th style="width: 30px;">State</th>
        <th style="width: 30px;">City</th>
        <th style="width: 70px;">Regulatory Agency</th>
        <th style="width: 70px;">Prep Time (days)</th>
        <th style="width: 70px;">Agency Req Time (days)</th>
        <th style="width: 20px;">Basic Fees ($)</th>
      </tr>
    </thead>
    <tbody>
      <!-- Group Slot -->
      <ng-container *ngFor="let group of groupedPermits">
        <tr class="level-row">
          <td colspan="9" style="text-align: center;">{{ group.level }}</td>
        </tr>
        <tr *ngFor="let i of group.items">
          <td>{{i.PermitName}}</td>
          <td>{{i.Category}}</td>
          <td>{{i.Level}}</td>
          <td>{{i.State}}</td>
          <td>{{i.City}}</td>
          <td>{{i.RegulatoryAgencyName}}</td>
          <td>{{i.PrepTimeMin}} {{ i.PrepTimeMax == null ? ' and above' : ' - ' + i.PrepTimeMax }}</td>
          <td>{{i.AgencyReviewTimeMin}} {{ i.AgencyReviewTimeMax == null ? ' and above' : ' - ' + i.AgencyReviewTimeMax }}</td>
          <td>{{i.BasicFees}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>


</div>
</div>
