

<div class="col-md-12 rounded PageLayout" style="height:700px;">
  <div class="d-flex mt-2" [formGroup]="SearchForm" style="border-bottom: 1px solid #e1dbdba6;">
    <div class="col-lg-4 col-md-4 col-sm-12 p-1">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Matrix Name
        </label>
        <input type="text" id="city" class="form-control custom-input" formControlName="MatrixName">
      </div>
    </div>

     <div class="col-lg-4 col-md-4 col-sm-12 p-1">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
         Type Of Project
        </label>
        <input type="text" id="city" class="form-control custom-input" formControlName="TypeOfProject">
      </div>
    </div>

     <div class="col-lg-4 col-md-4 col-sm-12 p-1">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Client Name
        </label>
        <input type="text" id="city" class="form-control custom-input" formControlName="Client">
      </div>
    </div>
   </div>
    <div class="row">
      <div class="d-flex align-items-center">
        <p class="lableSyle ml-4 mt-2 mb-0">Selected Permits :</p>
      </div>
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
            <tr style="background-color: #bbbbbb4d; border: 1px solid #e1dbdba6;">
               <th style="width: 80px;">Permit Name</th>
                <th style="width: 50px;">Category</th>
                <th style="width: 30px;">Level</th>
                <th style="width: 30px;">State</th>
                 <th style="width: 30px;">City</th>
                 <th style="width: 50px;">Regulatory Agency</th>
                <th style="width: 50px;">Prep Time</th>
                <th style="width: 50px;">Agency Review Time</th>
                <th style="width: 20px;">Basic Fees</th>
                </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                
              </tr>

            </tbody>
          </table>


        </div>
      </div>

    </div>

  </div>
</div>

<!-- <div class="col-md-12 rounded PageLayout mt-4" style="height:500px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
            <tr style="background-color: #bbbbbb4d; border: 1px solid #e1dbdba6;">
               <th style="width: 80px;">Matrix Name</th>
                <th style="width: 150px;">Client Name</th>
                <th style="width: 60px;">Type Of Project</th>
                <th style="width: 80px;">Permit Count</th>
                 <th style="width: 60px;">Action</th>
             </tr>
            </thead>
            <tbody class="">
              

            </tbody>
          </table>


        </div>
      </div>

    </div>

  </div>
 
</div> -->

