<div class="page-container">
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">

      <div class="form-group">
        <label for="city" class="form-label">User Name</label>
        <input type="text" id="city" class="form-control" formControlName="UserName" placeholder="Enter User name...">
      </div>

      <div class="form-group">
        <label for="city" class="form-label">Role</label>
        <select id="role" class="form-control" formControlName="UserRole">
          <option value="">Select</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <option value="Editior">Editior</option>
        </select>
      </div>
      <div class="btn-group">
        <button class="btn mb-3" (click)="Search()">
          <i class="fas fa-search"></i>
          Search
        </button>
        <button type="button" class="btn mb-3" (click)="Clear()">
          <i class="fa fa-eraser"></i> Clear
        </button>
      </div>
    </div>
  </div>

  <div class="data-panel">

    <div class="panel-header">
      <div class="panel-header-left">
        <button type="button" class="btn-group btn" (click)="AddUser()" style="width: 120px;"><i
            class="fa fa-plus"></i>Add</button>
      </div>
      <mat-paginator *ngIf="UserList != null" [length]="dataCount" [pageSize]="pageSize" [pageSizeOptions]="pageOption"
        (page)="paginatorevt($event)" #paginator>
      </mat-paginator>
    </div>


    <div class="table-container">
      <table class="table header-table" style="border: 1px solid #e9ecef;margin-bottom: 0rem;">
        <thead>
          <tr>
            <th (click)="datatransferService.sortData('UserName' , UserList)">User Name <i class="fas" [ngClass]="datatransferService.getSortIcon('UserName')"></i></th>
            <th (click)="datatransferService.sortData('UserRole' , UserList)">User Role <i class="fas" [ngClass]="datatransferService.getSortIcon('UserRole')"></i></th>
            <th (click)="datatransferService.sortData('CreatedBy' , UserList)">Created By <i class="fas" [ngClass]="datatransferService.getSortIcon('CreatedBy')"></i></th>
            <th (click)="datatransferService.sortData('CreatedOn' , UserList)">Created On <i class="fas" [ngClass]="datatransferService.getSortIcon('CreatedOn')"></i></th>
            <th (click)="datatransferService.sortData('IsActive' , UserList)">Active Status <i class="fas" [ngClass]="datatransferService.getSortIcon('IsActive')"></i></th>
            <th>Action</th>
          </tr>
        </thead>
        </table>
        <div class="table-container">
        <table class="table body-table">
        <tbody>
          <tr *ngFor="let item of UserList; let i = index;">
            <td>{{ item.UserName }}</td>
            <td>{{ item.UserRole }}</td>
            <td>{{ item.CreatedBy }}</td>
            <td>{{ item.CreatedOn | date }}</td>
            <td>{{ item.IsActive ? 'Yes' : 'No' }}</td>
            <td class="action-cell">
              <button class="btn" (click)="EditUser(item)">
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>