<div class="col-md-12 rounded PageLayout" style="height:120px;">
  <div class="d-flex mt-2" [formGroup]="SearchForm">
    <div class="col-lg-3 col-md-3 col-sm-12 p-1">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
         User Name
        </label>
        <input type="text" id="city" class="form-control custom-input" formControlName="UserName">
      </div>
    </div>
   
    <div class="col-lg-3 col-md-3 col-sm-12 p-1 mr-4">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
         Role
        </label>
        <select id="role" class="form-control custom-input" formControlName="UserRole">
          <option value="">Select</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
        </select>
      </div>
    </div>
    
    <div class="col-lg-1 col-md-1 col-sm-12 p-1 mr-2">
      <button class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn" (click)="Search()">
        <span style=" margin: 0 1px;"></span>
        <i class="fas fa-search"></i>
        <span class="flex-grow-1 text-start">Search</span>
    </button>
     
    </div>
     <div class="col-lg-1 col-md-1 p-1 col-sm-12 mr-3">
       <button type="button"
        class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn"
        (click)="Clear()">
        <span style=" margin: 0 1px;"></span>
        <i class="fa fa-eraser"></i>
        <span class="flex-grow-1 text-start">Clear</span>

      </button>
    </div>
    <!-- <div class="col-lg-1 col-md-1 p-1 col-sm-12">
    <button type="button" class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn"
      (click)="AddUser()">
      <span style=" margin: 0 1px;"></span>
      <i class="fa fa-plus"></i>
      <span class="flex-grow-1 text-start">Add</span>
    
    </button>
    </div> -->


  </div>
</div>
<div class="col-md-12 rounded PageLayout mt-4" style="height:500px;">
<div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <button type="button"
      class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn ml-2"
      style="margin-top: 0px !important;" (click)="AddUser()">
      <span style=" margin: 0 1px;"></span>
      <i class="fa fa-plus"></i>
      <span class="flex-grow-1 text-start">Add</span>
    </button>
  </div>
  <div class="d-flex align-items-center mr-4">
    <mat-paginator *ngIf="UserList != null" [length]="dataCount" [pageSize]="pageSize" [pageSizeOptions]="pageOption"
      (page)="paginatorevt($event)" #paginator>
    </mat-paginator>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">



<div class="table-header">
            <table class="table fixed-table mb-0">
              <thead style="background-color: #bbbbbb4d;">
                <tr>
                  <th style="width: 80px;">User Name</th>
        <th style="width: 60px;">User Role</th>
        <th style="width: 150px;">Created By</th>
        <th style="width: 150px;">Created On</th>
        <th style="width: 60px;">Active Status</th>
        <th style="width: 30px;">Action</th>
                </tr>
              </thead>
            </table>
          </div>

        <div class="table-body">
          <table class="table fixed-table">
            <tbody>
              <tr *ngFor="let item of UserList; let i = index;">
                <td  style="width: 80px;">{{ item.UserName }}</td>
                <td style="width: 60px;">{{ item.UserRole }}</td>
                <td style="width: 150px;">{{ item.CreatedBy }}</td>
                <td style="width: 150px;">{{ item.CreatedOn | date }}</td>
                <td style="width: 60px;">{{ item.IsActive ? 'Yes' : 'No' }}</td>
                <td style="width: 30px;">
                  <a class="btn btn-sm rounded-1" style="border: 1px solid #1c4876;" (click)="EditUser(item)">
                    <i class="far fa-edit"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

  </div>

    </div>

  </div>
  <!--<mat-paginator *ngIf="PermitList != null" [length]="dataCount" [pageSize]="pageSize" style="margin-top: 10px;"
                [pageSizeOptions]='pageOption' (page)="paginatorevt($event)" #paginator></mat-paginator> -->
</div>

