<div class="page-container">
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">

      <div class="form-group">
        <label for="city" class="form-label">User Name</label>
        <input type="text" id="city" class="form-control" formControlName="UserName">
      </div>

      <div class="form-group">
        <label for="city" class="form-label">Role</label>
        <select id="role" class="form-control" formControlName="UserRole">
          <option value="">Select</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
        </select>
      </div>
      <div class="btn-group">
        <button class="btn mb-3" (click)="Search()">
          <i class="fas fa-search"></i>
          Search
        </button>
        <button type="button" class="btn mb-3" (click)="Clear()">
          <i class="fa fa-eraser"></i> Clear
        </button>
      </div>
    </div>
  </div>

  <div class="data-panel">

    <div class="panel-header">
      <div class="panel-header-left">
        <button type="button" class="btn-group btn" (click)="AddUser()" style="width: 120px;"><i
            class="fa fa-plus"></i>Add</button>
      </div>
      <mat-paginator *ngIf="UserList != null" [length]="dataCount" [pageSize]="pageSize" [pageSizeOptions]="pageOption"
        (page)="paginatorevt($event)" #paginator>
      </mat-paginator>
    </div>


    <div class="table-container">

      <table class="table">
        <thead>
          <tr>
            <th>User Name</th>
            <th>User Role</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Active Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of UserList; let i = index;">
            <td>{{ item.UserName }}</td>
            <td>{{ item.UserRole }}</td>
            <td>{{ item.CreatedBy }}</td>
            <td>{{ item.CreatedOn | date }}</td>
            <td>{{ item.IsActive ? 'Yes' : 'No' }}</td>
            <td class="action-cell">
              <button class="btn" (click)="EditUser(item)">
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>