@use '@angular/material' as mat;
  @include mat.core();

// Define gray-based theme
$honeycomb-primary: mat.define-palette(mat.$grey-palette, 600);
$honeycomb-accent: mat.define-palette(mat.$blue-grey-palette, 300);
$honeycomb-warn: mat.define-palette(mat.$red-palette);

$honeycomb-theme: mat.define-light-theme((
  color: (
    primary: $honeycomb-primary,
    accent: $honeycomb-accent,
    warn: $honeycomb-warn,
  ),
));

// Apply to components
@include mat.all-component-typographies();
@include mat.all-component-themes($honeycomb-theme);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import '../src/app/@theme/styles/themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';


@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import '../src/app/@theme/styles/pace.theme';

@import '../src/app/@theme/styles/layout';
@import '../src/app/@theme/styles/overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();


  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
 
};