<div class="page-container">
  <div class="filter-panel" [formGroup]="SearchForm">
    <div class="form-row">
      <div class="form-group">
        <label for="city" class="form-label">Matrix Name</label>
        <input type="text" id="city" class="form-control" formControlName="MatrixName" placeholder="Enter Matrix name...">
      </div>
      <div class="form-group">
        <label for="city" class="form-label">Client Name</label>
        <input type="text" class="form-control" formControlName="RegulatoryAgency" [matAutocomplete]="agencyLst" placeholder="Enter Client name...">
        <mat-autocomplete #agencyLst="matAutocomplete" [displayWith]="AgencyTypeAheadDisplay.bind(this)">
          <mat-option *ngIf="isAgencyLoading">
            <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
            </mat-spinner>
          </mat-option>
          <mat-option class="mat-opt1" disabled>
            <div>
              <table>
                <tr class="tr">
                  <td style=""> Client Name</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngFor="let l of RegagencyList | slice:0:30" [value]="l.Name" class="mat-opt">
            <div>
              <table>
                <tr class="tr">
                  <td class="td td1">{{l.Name}}</td>

                </tr>
              </table>
            </div>
          </mat-option>
          <mat-option *ngIf="RegagencyList.length == 0" disabled>
            No Options
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="btn-group">
        <button type="button" class="btn mb-3" (click)="Search()"><i class="fas fa-search"></i>Search</button>
        <button type="button" class="btn mb-3" (click)="Search()"><i class="fa fa-eraser"></i>Clear</button>
      </div>
    </div>
  </div>


  <div class="data-panel">
    <div class="panel-header">
      <!-- <div class="d-flex align-items-center"> -->
      <div class="panel-header-left">
      </div>
      <mat-paginator *ngIf="MatrixList != null" [length]="dataCount" [pageSize]="pageSize"
        [pageSizeOptions]="pageOption" (page)="paginatorevt($event)" #paginator></mat-paginator>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th (click)="datatransferService.sortData('MatrixName' , MatrixList)">Matrix Name <i class="fas" [ngClass]="datatransferService.getSortIcon('MatrixName')"></i></th>
            <th (click)="datatransferService.sortData('ClientName' , MatrixList)">Client  <i class="fas" [ngClass]="datatransferService.getSortIcon('ClientName')"></i></th>
            <th (click)="datatransferService.sortData('TypeOfProject' , MatrixList)"> Type Of Project <i class="fas" [ngClass]="datatransferService.getSortIcon('TypeOfProject')"></i></th>
            <th (click)="datatransferService.sortData('PermitCount' , MatrixList)">Permit Count <i class="fas" [ngClass]="datatransferService.getSortIcon('PermitCount')"></i></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of MatrixList">
            <td>{{item.MatrixName}}</td>
            <td>
              <span matTooltip="{{ item.ClientName }}">
                {{item.ClientName?.length > 50 ? (item.ClientName?.substring(0, 50) + '...') : item.ClientName }}
              </span>
            </td>
            <td>{{item.TypeOfProject}}</td>
            <td>{{item.PermitCount}}</td>
            <td class="action-cell d-flex">
              <button class="btn" 
                (click)="ViewDetails(item.Id)">
                <i class="far fa-eye"></i>
              </button>
               <button class="btn" 
                (click)="DeleteDetails(item.Id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="!MatrixList?.length">
            <td colspan="7" class="text-center p-5">No permits found.</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>