<div class="col-md-12 rounded PageLayout" style="height:120px;">
  <div class="d-flex mt-2">
    <div class="col-lg-3 col-md-3 col-sm-12 p-1">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Category
        </label>
        <input type="text" id="city" class="form-control custom-input">
      </div>
    </div>
   
    <div class="col-lg-3 col-md-3 col-sm-12 p-1 mr-4">
      <div class="form-group">
        <label for="city" class="form-label labelClass lableSyle">
          Regulatory Agency
        </label>
        <input type="text" id="city" class="form-control custom-input">
      </div>
    </div>
    
    <div class="col-lg-1 col-md-1 col-sm-12 p-1 mr-2">
       <button class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn"
        (click)="Search()">
        <span style=" margin: 0 1px;"></span>
        <i class="fas fa-search"></i>
        <span class="flex-grow-1 text-start">Search</span>

      </button>
    </div>
     <div class="col-lg-1 col-md-1 p-1 col-sm-12">
      <button type="button"
        class="btn btn-outline form-control d-flex align-items-center FlterButton custom-outline-btn"
        (click)="Search()">
        <span style=" margin: 0 1px;"></span>
        <i class="fa fa-eraser"></i>
        <span class="flex-grow-1 text-start">Clear</span>

      </button>

    </div>


  </div>
</div>
<div class="col-md-12 rounded PageLayout mt-4" style="height:500px;">
 <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <!-- <p class="lableSyle mb-0 me-2">Permit Count : </p>
      <p class="lableSyle mb-0"> 2</p> -->
    </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
              <tr style="background-color: #bbbbbb4d; border: 1px solid #e1dbdba6;">
               
                <th style="width: 80px;">Permit</th>
                <th style="width: 150px;">Regulatory Agency</th>
                <th style="width: 60px;">Time Frame</th>

                <th style="width: 60px;">Review Time</th>
                <th style="width: 80px;">Fees</th>

              </tr>
            </thead>
            <tbody class="">
              <tr *ngFor="let item of PermitList; let i = index">
              
                <td>{{item.Permit}}</td>
                <td>{{item.RegulatoryAgency}}</td>
                <td>{{item.TimeFrame}}</td>

                <td>{{item.ReviewTime}}</td>
                <td>{{item.Fees}}</td>
              </tr>

            </tbody>
          </table>


        </div>
      </div>

    </div>

  </div>
  <!-- <mat-paginator *ngIf="PermitList != null" [length]="dataCount" [pageSize]="pageSize" style="margin-top: 10px;"
                [pageSizeOptions]='pageOption' (page)="paginatorevt($event)" #paginator></mat-paginator> -->
</div>

