<div class="add-edit-popuop">
  <div class="panel-header">
    <h5>Add New Permit</h5>
    <i class="fa fa-times" (click)="clear()"></i>
  </div>
  <div class="shadowed-panel">
    <form [formGroup]="AddPermitForm" class="form-modern">
      <div class="form-grid">
        <!-- Permit Name -->
        <div class="form-group-modern">
          <label for="permitName" class="form-label-modern">Permit Name</label>
          <input type="text" id="permitName" class="form-control-modern" formControlName="PermitName" placeholder="Enter permit name">
        </div>

        <!-- Regulatory Agency -->
        <div class="form-group-modern">
          <label for="regulatoryAgency" class="form-label-modern">Regulatory Agency</label>
          <input type="text" id="regulatoryAgency" class="form-control-modern" formControlName="RegulatoryAgency" [matAutocomplete]="Agencylist" placeholder="Enter agency name">
          <mat-autocomplete #Agencylist="matAutocomplete" [displayWith]="AgencyTypeAheadDisplay.bind(this)">
            <mat-option *ngIf="isAgencyLoading" disabled><mat-spinner diameter="20"></mat-spinner></mat-option>
            <mat-option *ngIf="RegagencyList.length === 0" disabled>No Options</mat-option>
            <mat-option *ngFor="let l of RegagencyList" [value]="l.Name">{{ l.Name }}</mat-option>
          </mat-autocomplete>
        </div>

        <!-- Category -->
        <div class="form-group-modern">
          <label for="category" class="form-label-modern">Category</label>
          <select id="category" class="form-control-modern" formControlName="Category">
            <option value="">Select Category</option>
            <option *ngFor="let i of CategoryList" [value]="i">{{ i }}</option>
          </select>
        </div>

        <!-- Level -->
        <div class="form-group-modern">
          <label for="level" class="form-label-modern">Level</label>
          <select id="level" class="form-control-modern" formControlName="Level">
            <option value="">Select Level</option>
            <option value="Federal">Federal</option>
            <option value="State">State</option>
            <option value="County">County</option>
          </select>
        </div>

        <!-- State, City, and Basic Fees Group -->
        <div class="grid-full-width">
          <div class="form-grid">
            <!-- State & City -->
            <div class="form-group-modern" >
              <div class="inline-input-group">
                <div class="form-group-modern mr-5">
                  <label for="state" class="form-label-modern">State</label>
                  <input type="text" id="state" class="form-control-modern" formControlName="State" [matAutocomplete]="statelist" placeholder="Enter state name">
                  <mat-autocomplete #statelist="matAutocomplete" [displayWith]="StateTypeAheadDisplay.bind(this)">
                            <mat-option *ngIf="isStateLoading">
                                <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
                                </mat-spinner>
                            </mat-option>
                            <mat-option class="mat-opt1" disabled>
                                <div>
                                    <table>
                                        <tr class="tr">
                                            <td style="width: 200px;">State</td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-option>
                            <mat-option *ngFor="let l of StateList | slice:0:30" [value]="l.State" class="mat-opt">
                                <div>
                                    <table>
                                        <tr class="tr">
                    
                                            <td class="td td1" style="width: 200px;">{{l.State}} - US</td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-option>
                            <mat-option *ngIf="StateList.length == 0" disabled>
                                No Options
                            </mat-option>
                        </mat-autocomplete>
                </div>
                <div class="form-group-modern">
                  <label for="city" class="form-label-modern">City</label>
                  <input type="text" id="city" class="form-control-modern" formControlName="City" [matAutocomplete]="ctlist"  placeholder="Enter city name">
                  <mat-autocomplete #ctlist="matAutocomplete" [displayWith]="CityTypeAheadDisplay.bind(this)">
                        <mat-option *ngIf="isCityLoading">
                            <mat-spinner diameter="20" style="margin-left: 40%;" color="accent">
                            </mat-spinner>
                        </mat-option>
                        <mat-option class="mat-opt1" disabled>
                            <div>
                                <table>
                                    <tr class="tr">
                                        <td style="width: 200px;">City</td>
                    
                                    </tr>
                                </table>
                            </div>
                        </mat-option>
                        <mat-option *ngFor="let l of CityList | slice:0:30" [value]="l.City" class="mat-opt">
                            <div>
                                <table>
                                    <tr class="tr">
                                        <td class="td td1" style="width: 200px;">{{l.City}}</td>
                    
                                    </tr>
                                </table>
                            </div>
                        </mat-option>
                        <mat-option *ngIf="CityList.length == 0" disabled>
                            No Options
                        </mat-option>
                    </mat-autocomplete>
                </div>
              </div>
            </div>

            <!-- Basic Fees -->

            <div class="form-group-modern">
              <label class="form-label-modern">Type Of Project</label>
             <select id="TypeOfProject" class="form-control-modern" formControlName="TypeOfProject">
                  <option value="">Select</option>
                  <option value="{{i}}" *ngFor="let i of TypeofPermitList">{{i}}</option>
              </select>
            </div>

         </div>
        </div>

        <!-- Preparation Time -->
        <div class="form-group-modern">
          <label class="form-label-modern">Preparation Time (in Days)</label>
          <div class="inline-input-group">
            <input type="text" class="form-control-modern" formControlName="MinPrepTime" placeholder="Min">
            <span>to</span>
            <input type="text" class="form-control-modern" formControlName="MaxPrepTime" placeholder="Max">
          </div>
        </div>


          <div class="form-group-modern">
              <label for="basicFees" class="form-label-modern">Basic Fees</label>
              <input type="text" id="basicFees" class="form-control-modern" formControlName="BasicFees" placeholder="Enter basic fees">
            </div>
         
        <!-- Agency Review Time -->
        <div class="form-group-modern">
          <label class="form-label-modern">Agency Review Time (in Days)</label>
          <div class="inline-input-group">
            <input type="text" class="form-control-modern" formControlName="MinAgencyReviewTime" placeholder="Min">
            <span>to</span>
            <input type="text" class="form-control-modern" formControlName="MaxAgencyReviewTime" placeholder="Max">
          </div>
        </div>

        <!-- Additional Fees -->
        <div class="form-group-modern">
          <label for="additionalFees" class="form-label-modern">Additional Fees</label>
          <input type="text" id="additionalFees" class="form-control-modern" formControlName="AdditionalFees" placeholder="Enter additional fees">
        </div>

        <!-- Description -->
        <div class="form-group-modern grid-full-width">
          <label for="description" class="form-label-modern">Description</label>
          <textarea id="description" class="form-control-modern" formControlName="Description" placeholder="Enter permit description" rows="2"></textarea>
        </div>

          <div class="form-group-modern grid-full-width">
          <label for="description" class="form-label-modern">Threshold</label>
          <textarea id="description" class="form-control-modern" formControlName="Threshold" placeholder="Enter permit Threshold" rows="2"></textarea>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn-cancel" (click)="clear()">Cancel</button>
        <button type="button" class="btn-save" (click)="Submit()">Save Permit</button>
      </div>
    </form>
  </div>
</div>
